.page-layout__viewport {
  padding-top: 4rem;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}

.shortener {
  background-color: aliceblue;
  border-radius: 5px;
  padding: 30px 0;
}

.shortener__form_input {
  margin-bottom: 10px;
}

.url-table {
  table-layout: fixed;
}

.url-table td{
  text-overflow: ellipsis;
  width: 20%;
  overflow: hidden;
}

.first-th, .first-td {
  width: 60%;
}

.last-th, .last-td {
  width: 10%;
  text-align: center;
}

a, a:hover {
  text-decoration: none;
  color: black;
}
